small{
  margin-top: 10px;
  margin-bottom: 10px;
}

.signin-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.signin-form {
  width: 80%; 
  max-width: 400px; 
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
}

label {
  display: block;
  margin-bottom: 10px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: #45a049;
}

.password-mismatch {
  color: red;
  font-size: 12px;
  margin-top: -10px;
  margin-bottom: 10px;
}

@media screen and (max-width: 600px) {
  .signin-form {
    width: 90%;
  }
}
